#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BASEDIR=debian/slop-shell/usr/share/gnome-shell/extensions/slop-shell@arisunarya

%:
	dh $@

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp